@media all and (max-width: 1500px) {
    .container {
        width: 90%;
    }

    .footer-cont {
        flex-direction: column;
        gap: 20px;
    }

    footer .footer-cont .loc {
        display: none;
    }

    footer .footer-cont .b {
        display: block;
    }
}

@media all and (max-width: 1225px) {
    .main-sect-cont {
        display: grid;
        justify-items: center;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        gap: 5px;
        width: 65%;
    }

    .navbar .nav-left {
        flex-direction: column;
    }

    .navbar .nav-left .vl {
        border-left: unset;
        border-bottom: 1px solid #CDCDCD;
        width: 100%;
        height: 0;
        margin: 10px 0 10px 0;
    }

    .navbar .nav-right ul {
        gap: 24px;
    }

    .abt-cont, .glr-cont {
        padding: 50px;
    }

    .main-sect-cont .main-sect img {
        height: auto;
    }
}

@media all and (max-width: 1024px) {
    .abt {
        flex-direction: column-reverse;
    }

    .glr {
        flex-direction: column;
    }

    .abt .sect-bg,
    .glr .sect-bg {
        width: 100%;
    }

    .abt-cont, .glr-cont {
        padding: 20px;
        height: auto;
    }

    .navbar {
        flex-direction: column;
        width: 100%;
        margin: 48px 0 0 0;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 6;
    }

    header {
        padding: 0px 0 48px 0;
    }

    .bg-white {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
    }

    .navbar .nav-right {
        display: none;
    }

    .navbar .nav-left {
        flex-direction: row;
        background-color: #F4FAFB;
        box-shadow: 0px 5px 10px #597dbc27;
        border-radius: 38px;
        width: 100%;
        height: 76px;
        justify-content: space-around;
        padding: 0 50px 0 50px;
        z-index: 6;
        transition: all 0ms ease;
    }

    .main {
        margin-top: 124px;
    }

    .abt-cont, .glr-cont {
        width: 60%;
    }

    .main-sect-cont .main-sect div {
        font-size: 14px;
    }

    .nav-left .hamburger {
        justify-content: center;
        align-items: center;
    }

    .nav-left .hamburger .switch-btn {
        display: flex;
    }

    .navbar .nav-left span {
        flex: 1;
    }

    .navbar .nav-left .vl {
        border-bottom: unset;
        border-left: 1px solid #CDCDCD;
        height: 37px;
        margin: 0px 16px 0 16px;
        width: auto;
    }

    .navbar {
        justify-content: center;
    }
}

@media all and (max-width: 700px) {
    .main .main-bg {
        height: 225px;
    }

    .main-sect-cont {
        margin-top: 55px;
        width: 90%;
    }

    .main-sect-cont .main-sect div {
        border-radius: 0px 0px 6px 6px;
    }

    .abt-cont, .glr-cont {
        width: 100%;
    }

    .footer-cont {
        width: 100%;
    }

    .footer-cont .footer-menu {
        flex-direction: column;
    }

    .footer-cont .footer-menu {
        flex-direction: column;
        border-bottom: 2px solid #ECECEC;
        padding-bottom: 20px;
        width: 100%;
    }

    footer .socials {
        border-top: 2px solid #ECECEC;
        padding-top: 20px;
        margin-top: 20px;
        width: 100%;
    }

    footer .footer-bottom {
        margin-top: 25px;
    }

    .footer-cont .footer-menu li:hover a {
        border-top: unset;
    }

    .footer-cont .footer-menu .main {
        border-top: unset;
    }

    .footer-cont .footer-menu li a {
        border-top: unset;
    }
}

@media all and (max-width: 480px) {
    .navbar .nav-left {
        padding: 0 20px 0 20px;
    }

    .nav-left a {
        width: 80px;
        height: 23px;
    }

    .nav-left span {
        font-size: 12px;
    }

    .navbar .nav-left .vl {
        margin: 0px 8px 0 8px;
    }

    .abt .sect-bg,
    .glr .sect-bg {
        height: 217px;
    }
}