* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    transition: all 0.3s ease;
}

body {
    font-family: "FiraGO", normal;
    font-feature-settings: "case";
    line-height: 1.5;
    background-color: #FFFFFF;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

button {
    font-family: "FiraGO", medium;
}

a {
    text-decoration: none;
    color: #111111;
}

p {
    font-feature-settings: normal;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


/* Header */
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 48px 0 48px 0;
    white-space: nowrap;
    z-index: 6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}

.navbar img:hover {
    opacity: 0.8;
}

.navbar .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.navbar .nav-left, .nav-right ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vl {
    border-left: 1px solid #CDCDCD;
    height: 37px;
    margin: 0px 16px 0 16px;
}

.nav-left .hamburger {
    border: none;
    background-color: initial;
    cursor: pointer;
}

.nav-left .menu-open,
.nav-left .menu-close {
    display: none;
}

.nav-left span {
    font-size: 16px;
    color: #325454;
    cursor: default;
    transition: all 0.9s ease-in-out;
}

.nav-left:hover span {
    color: #299BAF
}

.navbar .nav-right ul {
    font-size: 14px;
    background-color: rgb(41, 155, 175, 0.05);
    border-radius: 22.5px;
    padding-left: 24px;
    gap: 58px;
}

.navbar .nav-right ul li {
    position: relative;
    height: 45px;

    cursor: pointer;
}

.nav-right ul li a {
    height: 45px;
    display: flex;
    align-items: center;
}

.nav-right .menu li .dropdown {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    line-height: 17px;

    position: absolute;
    top: 103%;

    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transition: all 0.3s ease, visibility 5ms, opacity 0.1s;
    -webkit-transition: all 0.3s ease, visibility 5ms, opacity 0.1s;
    -ms-transition: all 0.3s ease, visibility 5ms, opacity 0.1s;
}

.nav-right .menu li:nth-of-type(2) .dropdown {
    width: 190px;
    height: 92px;
    background-color: #F4FAFB;
    left: -25px;
}

.nav-right .menu li:nth-of-type(3) .dropdown {
    width: 242px;
    height: 184px;
    background-color: #F4FAFB;
    left: -25px;
}

.nav-right .menu li:nth-of-type(5) .dropdown {
    width: 242px;
    height: 138px;
    background-color: #299BAF;
    right: 0;
}

.nav-right .menu li:nth-of-type(2):hover .dropdown,
.nav-right .menu li:nth-of-type(3):hover .dropdown,
.nav-right .menu li:nth-of-type(5):hover .dropdown {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.nav-right .dropdown a {
    padding: 14px 24px;
}

.nav-right .dropdown hr {
    background: #299BAF;
    opacity: 0.3;
    width: 100%;
}

.nav-right ul li a:hover {
    color: #299BAF;
}

.main {
    color: #299BAF !important;
}

.nav-right .art-gal {
    background-color: #299BAF;
    height: 45px;
    width: 137px;
    border-radius: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}

.nav-right .art-gal a:hover {
    opacity: 80%;
}

.nav-right .art-gal a {
    color: #FFFFFF;
}

.nav-right .art-gal a:hover {
    color: #FFFFFF;
}

.nav-right .lang-swt {
    height: 46px;
    width: 46px;
    border-radius: 23px;
    background-color: #EAF5F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-left: 35px;
    cursor: pointer;
    border: none;
    -webkit-transition: all 0.15s cubic-bezier(0, 0, 0, 0.95);
    -ms-transition: all 0.15s cubic-bezier(0, 0, 0, 0.95);
    transition: all 0.15s cubic-bezier(0, 0, 0, 0.95);
}

.nav-right .lang-swt .lang-swt-drp {
    width: 46px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;

    display: none;
}

.nav-right .lang-swt .lang-swt-drp a {
    color: rgb(51, 76, 101, 0.3);
}

.nav-right .lang-active {
    height: 107px;
    cursor: unset;
    gap: 14px;
    margin-top: 55px;
}

.nav-right .lang-swt .swt-active {
    display: flex;
}

.nav-right .lang-swt a:hover {
    color: rgb(51, 76, 101, 1);
}

/* Mobile Menu */
.mobile-sidebar {
    height: 100%;
    width: 0px;
    background-color: #F9FEFF;
    z-index: 5;
    font-size: 14px;

    position: fixed;
    right: 0;
    top: 0;
}

.mobile-sidebar .mobile-menu {
    margin: 150px 0 0 0;
    width: 100%;
    display: none;
}

.mobile-sidebar .active {
    display: block;
}

.mobile-sidebar .mobile-menu li {
    border-bottom: 1px solid #EAF5F7;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mobile-sidebar .mobile-menu li a {
    margin: 16px 20px 16px 0;
}

.mobile-sidebar .mobile-menu li a:hover {
    color: #299BAF;
}

.mobile-sidebar .mobile-menu .mobile-artglr a:hover {
    color: #FFFFFF;
}

.mobile-sidebar .mobile-menu .mobile-artglr {
    background-color: #299BAF;
}

.mobile-sidebar .mobile-menu .mobile-artglr a {
    color: #FFFFFF;
}

header .sidebar-active {
    width: 100% !important;
}

.no-scroll {
    overflow: hidden;
}

.no-scroll:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.3);
}

.bg-white {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF !important;
    z-index: 6;
    display: none;

    position: absolute;
    left: 0;
    top: 0;
}

.mobile-menu-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    max-height: 0px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;

    transition: all 0.3s ease, visibility 5ms, opacity 0s linear;
    -webkit-transition: all 0.3s ease, visibility 5ms, opacity 0s linear;
    -ms-transition: all 0.3s ease, visibility 5ms, opacity 0s linear;
}

.mobile-cat a {
    cursor: pointer;
}

.mobile-menu-dropdown a {
    font-size: 12px;
    color: rgb(17, 17, 17, 0.6);
    transform: translate(120%, 0%);
}

.mobile-menu .mobile-cat:nth-of-type(3) .mobile-menu-dropdown a {
    transform: translate(120%, 250%);
}

.mobile-menu-dropdown a:hover {
    font-size: 12px;
    color: rgb(17, 17, 17, 1);
}

.mobile-sidebar .mobile-menu li .open {
    max-height: 200px;
    height: 100%;
    opacity: 1;
    visibility: visible;
    z-index: 0;

    transition: all 0.3s ease, visibility 5ms, opacity 0s linear;
    -webkit-transition: all 0.3s ease, visibility 5ms, opacity 0s linear;
    -ms-transition: all 0.3s ease, visibility 5ms, opacity 0s linear;
}

.mobile-sidebar .mobile-menu li .open a {
    transform: translate(0%, 0%) !important;
}

.mobile-lang-switcher {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 32px 20px 0 0;
    gap: 12px;
}

.mobile-lang-switcher .lang-swt {
    border: none;
    width: 37px;
    height: 36px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.05s ease;
}

.mobile-lang-switcher .lang-swt a {
    color: rgba(51, 76, 101, 0.6);
}

.mobile-lang-switcher .lang-swt:hover {
    width: 46px;
    height: 45px;
    font-size: 14px;
}

.mobile-lang-switcher .lang-swt:hover a {
    color: rgba(51, 76, 101, 0.9);
}

.mobile-lang-switcher .active {
    width: 46px;
    height: 45px;
    font-size: 14px;
}

.mobile-lang-switcher .active a {
    color: rgba(51, 76, 101, 0.9);
    font-weight: 500;
}


/* Main Upper Section */
.main-section .main-bg {
    background-image: url(../img/mainpage-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 939px;
    width: 100%;
}

.main-sect-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    line-height: 0;
}

.main-sect-cont .main-sect img {
    height: 229px;
    width: 360px;
}

.main-sect-cont .main-sect div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    width: 100%;
    color: #FFFFFF;
    font-size: 18px;
}

.main-sect-cont .cover-a div {
    background-color: #334C65;
}

.main-sect-cont .cover-b div {
    background-color: #3DA4B6;
}


/* Sections */
.abt {
    margin-top: 80px;
}

.abt, .glr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.abt-cont, .glr-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 600px;
    width: 50%;
    padding: 100px;
}

.abt .heading {
    display: flex;
}

.abt .heading,
.glr .heading {
    display: flex;
    font-size: 28px;
    margin-bottom: 40px;
}

.abt .heading h2:nth-of-type(1) {
    color: #334C65;
    margin-right: 15px;
}

.abt .heading h2:nth-of-type(2),
.glr .heading h2 {
    color: #3DA4B6;
}

.abt .text,
.glr .text {
    max-width: 468px;
    width: 100%;
}

.abt p,
.glr p {
    margin-bottom: 24px;
}

.abt p:nth-of-type(2), .abt p:nth-of-type(3),
.glr p:nth-of-type(2), .glr p:nth-of-type(3) {
    opacity: 0.6;
}

.abt .text-more,
.glr .text-more {
    font-size: 16px;
    color: #3DA4B6;
    display: flex;
    align-items: center;
    width: 100px;
    gap: 10px;
}

.abt .sect-bg,
.glr .sect-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.abt .sect-bg {
    background-image: url(../img/abt-img.png);
    width: 50%;
    height: 710px;
}

.glr .sect-bg {
    background-image: url(../img/glr-img.png);
    width: 50%;
    height: 712px;
}


/* Footer */
footer {
    margin-top: 160px;
}

footer hr {
    background: #299BAF;
    opacity: 0.3;
}

.footer-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    opacity: 0.9;
}

.footer-cont .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.footer-cont .footer-menu li a {
    border-top: 4px solid rgb(51, 76, 101, 0);
    border-radius: 2px;
    padding-top: 41px;
}

.footer-cont .footer-menu li:hover a {
    border-top: 4px solid rgb(51, 76, 101, 1);
}

.footer-cont .footer-menu li a:hover {
    opacity: 1;
}

.footer-cont .footer-menu .main {
    opacity: 1;
    border-top: 4px solid rgb(51, 76, 101, 1);
}

.loc, .cnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loc img, .cnt img {
    margin-right: 15px;
}

footer .footer-cont .b {
    display: none;
}

footer .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #313131;
    margin-top: 36px;
}

footer .socials a:hover,
footer .cnt a:hover {
    color: #299BAF;
}

footer .socials .dot {
    background: #334C65;
    opacity: 0.7;
    border-radius: 10px;
    height: 5px;
    width: 5px;
}

footer .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #334C65;
    height: 75px;
    width: 100%;
    margin-top: 40px;
}

footer .footer-bottom span,
footer .footer-bottom a {
    color: #FFFFFF;
}

footer .footer-bottom a:hover {
    opacity: 80%;
}

footer .footer-bottom span {
    opacity: 0.5;
}


/* Page headings */
.section-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-top: 45px;
}

.section-head a {
    color: rgb(24, 25, 25, 0.6);
}

.section-head a:hover {
    color: rgb(24, 25, 25, 1);
}

.section-head .main {
    color: rgb(24, 25, 25, 1) !important;
}

.section-head .circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #FDFFFF;
    box-shadow: 0.8px 2.4px 6.4px rgba(207, 207, 219, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Clinic history page */
.history-top,
.history-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.8);
    gap: 100px;
}

.history-top h4 {
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}

.history-bottom {
    margin-top: 110px;
}

.history-left,
.history-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.history-left {
    max-width: 589px;
    width: 100%;
}

.history-right {
    max-width: 711px;
    width: 100%;
}

.history-top .right-bg,
.history-bottom .right-bg {
    max-width: 711px;
    width: 100%;
    height: 512px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.history-top .right-bg {
    background-image: url(../img/Rectangle-54.png);
}

.history-bottom .right-bg {
    background-image: url(../img/Rectangle-55.png);
}

.history-right p {
    color: #000000;
}


/* Branches page */
.branches-cont {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 18px;
}

.branches h4 {
    margin-top: 48px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
}

.branches-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 18px 18px;
    grid-auto-flow: row;
    margin-top: 32px;
}

.branch-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    width: 347px;
    height: 87px;
    background-color: rgba(41, 155, 175, 0.05);
    border: 1px solid rgba(41, 155, 175, 0.1);
    border-radius: 12px;
    padding: 0px 0 0 24px;
}

.branch-grid span {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
}

.branch-grid a {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.work-time {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.branches-left hr {
    max-width: 711px;
    width: 100%;
    height: 1px;
    background: #E0F1F3;
    opacity: 0.3;
    margin: 36px 0 16px 0;
}

.work-time h5 {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 5px;
}

.work-time span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.branches-right {
    max-width: 708px;
    width: 100%;
    margin-top: -100px;
}

.branches-map {
    width: 708px;
    height: 362px;
    background-image: url(../img/ka_map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    position: relative;
}

.map-hover {
    position: absolute;

    height: 29px;
    width: 83px;
    cursor: pointer;
}

.branch-selected {
    background-color: rgba(41, 155, 175, 1);
}

.zugdidi {
    left: 131px;
    top: 91px;
}

.kutaisi {
    left: 223px;
    top: 131px;
}

.gori {
    left: 396px;
    top: 189px;
}

.telavi {
    left: 477px;
    top: 160px;
}

.tbilisi {
    left: 441px;
    top: 234px;
}

.marneuli {
    left: 418px;
    top: 273px;
}

.rustavi {
    left: 498px;
    top: 259px;
}

.gurjani {
    left: 529px;
    top: 206px;
}


/* Service pages */
.service h4 {
    font-weight: normal;
    font-size: 20px;
    margin-top: 48px;
}

.service-relative {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.service-left {
    max-width: 681px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.service-left h5 {
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 24px;
}

.service-left p {
    font-weight: 400;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
    max-width: 589px;
    width: 100%;
}

.therapy-grid-cont {
    margin-top: 48px;
}

.therapy-grid {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    grid-auto-flow: row;
    grid-template-areas:
        "a b c"
        "d e f";
}

.in-a {
    grid-area: a;
}

.in-b {
    grid-area: b;
}

.in-c {
    grid-area: c;
}

.in-d {
    grid-area: d;
}

.in-e {
    grid-area: e;
}

.in-f {
    grid-area: f;
}

.therapy-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.therapy-grid .tpy-in {
    background: #F5F5F5;
    border-radius: 190px;
    display: flex;
    padding: 16px 28px 16px 28px;
    align-items: center;
    height: 53px;
    width: fit-content;
    white-space: nowrap;
}

.tpy-out {
    background: #F5F5F5;
    border-radius: 190px;
    display: flex;
    padding: 16px 28px 16px 28px;
    align-items: center;
    height: 53px;
    width: fit-content;
}

.therapy-grid .tpy-in span,
.tpy-out span {
    font-weight: 400;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.9);
}

.service-right {
    max-width: 951px;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.therapy-bg {
    background-image: url(../img/Rectangle-56.png);
}

.laser-bg {
    background-image: url(../img/Rectangle-57.png);
}

.opthal-bg {
    background-image: url(../img/Rectangle-58.png);
}

.surgical-bg {
    background-image: url(../img/Rectangle-59.png);
}

.service-bg {
    max-width: 951px;
    width: 100%;
    height: 605px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service-headline-mobile {
    margin-top: 0 !important;
    margin-bottom: 32px;
    display: none;
}

.service-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 48px;
}

.laser {
    margin-bottom: 360px;
}

.opthal {
    margin-bottom: 174px;
}

.surgical {
    margin-bottom: 240px;
}

.opthal .opthal-column {
    margin-bottom: 32px;
}

.opthal h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
    margin: 40px 0 16px 0;
}

/* Contact page */
.contact-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
}

.contact-cont .contact-location {
    margin-top: -112px;
    max-width: 711px;
    width: 100%;
    height: 637px;
}

.contact-cont iframe {
    border-radius: 8px;
}

.contact h4 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
}

.contact-formfield h5 {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: -12px;
}

.contact-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-formfield {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.form-sizes {
    width: 346px;
    height: 44px;
}

.form-sizes input {
    width: 100%;
    height: 100%;
    padding-left: 14px;
}

.message-field {
    width: 346px;
    height: 131px;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    outline: none;
}

input:focus {
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.message-field input {
    width: 100%;
    height: 100%;
    padding: 0 0 80px 14px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 13px;
}

.contact-send button {
    cursor: pointer;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    background: #299BAF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    display: flex;
    width: 346px;
    height: 44px;
}

.contact-send button:hover {
    opacity: 90%;
}


/* Art gallery page*/
.gallery {
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-top: 32px;
}

.swiper-wrapper {
    margin-top: 16px;
}

.swiper h5 {
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    gap: 12px;
    border-radius: 8px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide a:nth-of-type(1) {
    height: 197px;
    width: 225px;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev::after {
    display: none;
}

.swiper-button-prev, .swiper-button-next {
    height: 40px !important;
    width: 40px !important;
    background-color: #299BAF;
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 20px #597DBC1A;
    border: 1px solid #E7E7E733;
    border-radius: 50%;
    z-index: 2 !important;
}

.gallery .swiper-button-next {
    top: 19%;
    right: 0;
}

.gallery .swiper-button-prev {
    top: 19%;
    left: unset;
    right: 50px;
}

.swiper-button-prev {
    transform: rotate(180deg);
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    opacity: 70%;
}

.swiper-button-prev:active, .swiper-button-next:active {
    opacity: 50%;
}

.swiper-slide img {
    height: 197px;
    width: 225px;
}

.swiper-slide .title {
    font-size: 14px;
    text-align: start;
    color: rgba(0, 0, 0, 0.9);
    width: 220px;
}

.swiper-slide-active #overlay {
    position: absolute;
    top: 0;
    left: 0;
    clear: float;
    height: 197px;
    width: 225px;
    z-index: 0;
    background-color: rgba(41, 155, 175, 0.66);
    border-radius: 8px;
}

.branches hr {
    background: #D9D9D9;
    opacity: 0.5;
    height: 1px;
    margin: 40px 0 40px 0;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 18px;
}

/* Media about us page */
.media {
    max-width: 468px;
    width: 100%;
}

.media .rel {
    position: relative;
}

.media-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 68px;
    height: 68px;
    border-radius: 34px;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-play-inner {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-play img {
    height: 20px;
    height: 20px;
}